* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	min-height: 100vh;
}

.navigation {
	position: fixed;
	top: 1.25rem;
	right: 1.25rem;
	width: 7.5rem;
	height: 3.75rem;
	box-shadow: 0 25px 35px rgba(0, 0, 0, 0.2);
	border-radius: 5px;
	display: flex;
	justify-content: space-between;
	transition: height 0.5s, width 0.5s;
	transition-delay: 0s, 0.25s;
	overflow: hidden;
}

.navigation.active {
	width: 18rem;
	height: 20rem;
	transition: width 0.5s, height 0.5s;
	transition-delay: 0s, 0.25s;
}

.navigation .userBox {
	position: relative;
	width: 3.75rem;
	height: 3.75rem;
	background: #fff;
	display: flex;
	align-items: center;
	overflow: hidden;
	transition: 0.5s;
	transition-delay: 0.5s;
}

.navigation.active .userBox {
	width: calc(100% - 3.75rem);
	transition-delay: 0;
}

.navigation .userBox .imgBox {
	position: relative;
	min-width: 3.75rem;
	height: 3.75rem;
	border-radius: 50%;
	border: 10px solid #fff;
	overflow: hidden;
}

.navigation .userBox .imgBox img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.navigation .userBox .username {
	white-space: nowrap;
	color: #555;
	font-size: 1.1rem;
}

.navigation .menuToggle {
	position: relative;
	width: 3.75rem;
	height: 3.75rem;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
}

.navigation .menuToggle::before {
	content: "";
	position: absolute;
	width: 1.75rem;
	height: 0.125rem;
	background: #555;
	transform: translateY(-0.625rem);
	box-shadow: 0 10px #555;
	transition: 0.5s;
}

.navigation .menuToggle::after {
	content: "";
	position: absolute;
	width: 1.75rem;
	height: 0.125rem;
	background: #555;
	transform: translateY(0.625rem);
	transition: 0.5s;
}

.navigation.active .menuToggle::before {
	transform: translateY(0) rotate(45deg);
	box-shadow: 0 0px #555;
}

.navigation.active .menuToggle::after {
	transform: translateY(0) rotate(-45deg);
}

.menu {
	position: absolute;
	width: 100%;
	height: calc(100% - 3.75rem);
	margin-top: 3.75rem;
	padding: 20px;
	border-top: 1px solid rgba(0, 0, 0, 0.1);
	list-style: none;
}

.menu li a {
	display: flex;
	align-items: center;
	margin: 20px 0;
	gap: 10px;
	font-size: 1rem;
	text-decoration: none;
	color: #555;
}

.menu li a:hover {
	color: #4e65ff;
}

.menu li a ion-icon {
	font-size: 1.5rem;
	margin-right: 10px;
}
