@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Handlee&family=Lato:wght@300&family=Merriweather&family=Montserrat&family=Open+Sans:wght@500&family=Outfit:wght@300;400;600&family=Poppins:wght@200;300;400;500;600;700;800&family=Sacramento&display=swap");

/*full page */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  transition: all 0.5s;
}
/*variables*/
:root {
  --page-col: #edae49;
  --cardborder: #ff5a5f;
  --buttonBorder: #ff5a5f;
}
/* outside card*/
body {
  display: flex;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
  background-color: var(--page-col);
}
/* profile card*/
.card {
  background-color: #fff;
  width: 30rem;
  font-size: 1.6rem;
  height: 35rem;
  border: 0.2rem var(--cardborder) solid;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  box-shadow: 0.3rem 0.3rem 1rem 0.5rem #333;
}
/*card uppercontainer*/
.card-upper-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 1rem;
  padding: 2.5rem 2rem;
}
/*heading styling*/
h1 {
  color: #ff5a5f;
  text-align: center;
  font-size: 3rem;
  font-family: "Handlee", cursive;
}
/*card content syling*/
p {
  font-family: "Merriweather", serif;
  font-size: 1.5rem;
}
/*card image styling*/
.card img {
  width: 10rem;
  height: 10rem;
  border-radius: 100%;
  position: absolute;
  left: -5rem;
  top: -4rem;
}
/*buttons container*/
.buttons {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 1.5rem;
}

/* Default Button */
.card button {
  font-size: 1.5rem;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  border: 0.2rem var(--buttonBorder) solid;
  font-family: "Open Sans", sans-serif;
  cursor: pointer;
}

/* Social Buttons */
.card .social:hover {
  background-color: var(--buttonBorder);
  border-radius: 0.5rem;
}
/* hire me  button styling*/
.hire {
  padding: 1rem 2rem !important;
  background-color: var(--cardborder);
  color: #fff;
  transition: all 1s;
}
.hire:hover {
  background-color: transparent;
  transform: translateY(-0.5rem);
  color: var(--cardborder);
}
/*lastcontainer of card*/
.card-lower-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 2rem;
  background-color: #333;
  color: #fff;
  border-radius: 0 0 0.5rem 0.5rem;
  padding: 1rem;
}
/*for 360px devices*/
@media (max-width: 400px) {
  html {
    font-size: 50%;
  }
  /*card height change*/
  .card {
    height: 45rem;
  }
  /*image centering*/
  .card img {
    position: relative;
    left: 0;
    top: 0;
  }
}
