<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contacts Section</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
      integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="./style.css" />
  </head>
  <body style="background-color: #000024">
    <div class="contacts" id="contacts">
      <div class="contacts--container">
        <h1 class="main-title">Contacts</h1>
        <div class="contacts-body">
          <div class="contacts-form">
            <form>
              <div class="input-container">
                <label for="Name" class="label"> Name </label>
                <input placeholder="John Doe" class="form-input input" />
              </div>
              <div class="input-container">
                <label for="Email" class="label"> Email </label>
                <input placeholder="John@doe.com" class="form-input input" />
              </div>
              <div class="input-container">
                <label for="Message" class="label"> Message </label>
                <textarea placeholder="Type your message...." class="form-input message"></textarea>
              </div>

              <div class="submit-btn">
                <button type="submit" class="submit">
                  <p>Send</p>
                  <div class="submit-icon">
                    <i class="fa-solid fa-paper-plane"></i>
                  </div>
                </button>
              </div>
            </form>
          </div>

          <div class="contacts-details">
            <a href="mailto:mohamed9919698@gmail.com" class="personal-details">
              <div class="details">
                <i class="fa-solid fa-at"></i>
              </div>
              <p style="color: #eaeaea">youremail@yourservice.com</p>
            </a>

            <div class="socialmedia-icons">
              <a
                href="https://twitter.com/Programing_Pro"
                target="_blank"
                rel="noreferrer"
                class="socialicon"
              >
                <i class="fa-brands fa-twitter"></i>
              </a>
              <a
                href="https://github.com/Programing-School"
                target="_blank"
                rel="noreferrer"
                class="socialicon"
              >
                <i class="fa-brands fa-github"></i>
              </a>
              <a
                href="https://www.linkedin.com/in/mohamed-ehab-164193208"
                target="_blank"
                rel="noreferrer"
                class="socialicon"
              >
                <i class="fa-brands fa-linkedin-in"></i>
              </a>
              <a
                href="https://www.instagram.com/mohamedehab2463/"
                target="_blank"
                rel="noreferrer"
                class="socialicon"
              >
                <i class="fa-brands fa-instagram"></i>
              </a>
              <a
                href="https://medium.com"
                target="_blank"
                rel="noreferrer"
                class="socialicon"
              >
                <i class="fa-brands fa-medium"></i>
              </a>
              <a
                href="https://programing-school-blog.blogspot.com/"
                target="_blank"
                rel="noreferrer"
                class="socialicon"
              >
                <i class="fa-brands fa-blogger"></i>
              </a>
              <a
                href="https://www.youtube.com/channel/UC1YTVmV31RZV2oie1kKpJkw"
                target="_blank"
                rel="noreferrer"
                class="socialicon"
              >
                <i class="fa-brands fa-youtube"></i>
              </a>
              <a
                href="https://www.reddit.com/"
                target="_blank"
                rel="noreferrer"
                class="socialicon"
              >
                <i class="fa-brands fa-reddit"></i>
              </a>
              <a
                href="https://stackoverflow.com/users/15508803/mohamed-ehab"
                target="_blank"
                rel="noreferrer"
                class="socialicon"
              >
                <i class="fa-brands fa-stack-overflow"></i>
              </a>
              <a
                href="https://codepen.io/programing-school"
                target="_blank"
                rel="noreferrer"
                class="socialicon"
              >
                <i class="fa-brands fa-codepen"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
      <img src="./contactsNavy.svg" alt="contacts" class="contacts--img" />
    </div>
  </body>
</html>
