@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;500;700;900&family=Inconsolata&family=Open+Sans+Condensed:ital,wght@0,300;0,700;1,300&family=Open+Sans:ital,wght@0,300;0,400;');

* {
          margin: 0;
          padding: 0;
          box-sizing: border-box;
          font-family: 'Cairo', sans-serif;
}

html, body {
          display: grid;
          height: 100%;
          width: 100%;
          place-items: center;
          background: linear-gradient(375deg ,#fff 0%, #d7e 74%);
}

.wrapper .button {
          display: inline-block;
          height: 60px;
          width: 60px;
          float: left;
          margin: 0 5px;
          overflow: hidden;
          background: #819FF7;
          border-radius: 50px;
          cursor: pointer;
          box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
          transition: all 0.3s ease-in-out;
}

.wrapper .button:hover {
          width: 200px;
}

.wrapper .button .icon {
          display: inline-block;
          text-align: center;
          height: 60px;
          width: 60px;
          border-radius: 50%;
          box-sizing: border-box;
          line-height: 60px;
          transition: all 0.3s ease-out;
}

.wrapper .button:nth-child(1):hover .icon {
          background: #4267b2;
}
.wrapper .button:nth-child(2):hover .icon {
          background: #c32aa3;
}
.wrapper .button:nth-child(3):hover .icon {
          background: black;
          color: white;
}
.wrapper .button:nth-child(4):hover .icon {
          background: #25d366;
}
.wrapper .button:nth-child(5):hover .icon {
          background: #25d366;
}
.wrapper .button:nth-child(6):hover .icon {
          background: #ff5;
}

.wrapper .button .icon i {
          font-size: 25px;
          line-height: 60px;
          transition: all 0.3s ease-out;
}

.wrapper .button:hover .icon i {
          color: white;
}

.wrapper .button span {
          font-size: 20px;
          font-weight: 500;
          line-height: 60px;
          margin-left: 10px;
}