@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background: #6843d1;
}

.container {
	position: relative;
}

.container .navigation {
	position: relative;
	width: 80px;
	height: 420px;
	background: #fff;
	border-radius: 10px;
	overflow: hidden;
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
	transition: 0.2s;
}

.container .navigation.active {
	width: 300px;
}

.container .navigation ul {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}

.container .navigation ul li {
	position: relative;
	list-style: none;
	width: 100%;
}

.container .navigation ul li:hover {
	background: #efefef;
}

.container .navigation ul li a {
	position: relative;
	display: block;
	width: 100%;
	display: flex;
	text-decoration: none;
	color: #6843cf;
	font-weight: 500;
}

.container .navigation ul li a .icon {
	position: relative;
	display: block;
	min-width: 80px;
	height: 60px;
	line-height: 60px;
	text-align: center;
}

.container .navigation ul li a .icon .fa {
	font-size: 24px;
}

.container .navigation ul li a .title {
	position: relative;
	display: block;
	height: 60px;
	line-height: 60px;
	white-space: nowrap;
}

.toggle {
	position: absolute;
	top: calc(50% - 20px);
	right: -20px;
	width: 40px;
	height: 40px;
	background: #f5f5f5;
	cursor: pointer;
	border: 5px solid #6843d1;
	border-radius: 50%;
}

.toggle::before {
	content: "\f054";
	font-family: fontAwesome;
	position: absolute;
	width: 100%;
	height: 100%;
	line-height: 30px;
	text-align: center;
	font-size: 16px;
	color: #6843d1;
}

.toggle.active::before {
	content: "\f053";
}
