/* variables */
:root {
	--primary-color: #5924ed;
	--secondary-black: #0d081a;
	--secondary-gray: #48464b;
	--body-bg: #efebfa;
}

/* global styles */
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
html {
	font-family: 'Roboto Mono';
	font-size: 10px;
	scroll-behavior: smooth;
}
body {
	background-color: var(--body-bg);
}
img {
	width: 100%;
	height: 100%;
}
a {
	color: black;
	text-decoration: none;
}

section {
	display: flex;
	align-items: center;
	justify-content: center;
}
.container {
	width: 90%;
	margin: 0 auto;
	max-width: 1000px;
}
p {
	font-size: 1.6rem;
	color: var(--secondary-black);
}
.section-heading {
	font-size: clamp(2rem, 10vw, 8rem);
	text-transform: uppercase;
	font-family: 'Montserrat';
	letter-spacing: 0.2rem;
	text-align: center;
	position: relative;
	margin-bottom: 10rem;
}
.section-heading::before {
	content: attr(data-outline);
	position: absolute;
	left: 2%;
	top: -20%;
	width: 100%;

	text-align: center;
	text-transform: uppercase;
	font-family: 'Montserrat';
	letter-spacing: 0.2rem;

	color: transparent;
	/* -webkit-text-stroke: 1.5px rgba(0, 0, 0, 0.103); */
	-webkit-text-stroke: 1.5px #5a24ed2f;
	z-index: -1;
}
.buttons {
	margin-top: 3rem;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	gap: 2rem;
}
.primary-btn {
	display: inline-block;
	background-color: var(--primary-color);
	color: white;
	font-size: 1.8rem;
	padding: 0.6em 1.6em;
	border-radius: 50px;
}
.buttons .primary-btn.outline {
	background-color: transparent;
	border: 2px solid var(--primary-color);
	color: var(--primary-color);
}
.buttons svg {
	width: 50px;
	color: var(--primary-color);
}

/* Projects Section */
#projects {
	padding: 10rem 0;
}
#projects .item {
	display: flex;
	align-items: center;
	justify-content: center;
	max-width: 800px;
	margin: 0 auto;
	margin-bottom: 15rem;
	/* gap: 2rem; */
}
#projects .item:nth-of-type(even) {
	flex-direction: row-reverse;
}
#projects .item .left {
	flex: 1;
}
#projects .item .right {
	margin-left: -150px;
	flex: 1;
	background-color: var(--body-bg);
	padding: 5rem 3rem;
	border-radius: 12px;
	box-shadow: 0px 0px 20px #00000028;
	z-index: 2;
}
#projects .item:nth-of-type(even) .right {
	margin-left: 0;
}
#projects .item:nth-of-type(even) .left {
	margin-left: -150px;
}
#projects .item .left .img {
	height: 500px;
	overflow: hidden;
	border-radius: 12px;
	overflow: hidden;
	box-shadow: 0px 0px 20px #4705fc33;
	position: relative;
}
#projects .item .left .img::after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-color: #5a24ed38;
}
#projects .item .left .img img {
	object-fit: cover;
	transition: 0.3s ease transform;
}
#projects .item:hover .left .img img {
	transform: scale(1.1);
	z-index: 1;
}
#projects .item .right .project-title {
	font-size: 2.5rem;
	font-family: 'Montserrat';
	margin-bottom: 1rem;
}
#projects .item .right .project-sub-title {
	font-size: 1.6rem;
	margin-bottom: 2rem;
}
#projects .item .right .project-desc {
	color: var(--secondary-gray);
	margin-bottom: 3rem;
}
#projects .item .right .external-link {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1rem;
	padding: calc(0.6em - 4px) calc(1.6em - 4px);
}
#projects .item .right .external-link svg {
	width: 25px;
}

@media only screen and (max-width: 768px) {
	#projects .item {
		flex-direction: column;
	}
	#projects .item .left {
		width: 100%;
	}
	#projects .item .right {
		margin-left: 0;
		width: 90%;
		margin-top: -150px;
	}
	#projects .item:nth-of-type(even) {
		flex-direction: column;
	}
	#projects .item:nth-of-type(even) .left {
		margin-left: 0;
	}
}
@media only screen and (max-width: 450px) {
	#projects .item .right .buttons {
		flex-direction: column;
	}
	#projects .item .right .buttons a {
		width: 100%;
		text-align: center;
	}
}