<!DOCTYPE html>
<!-- 3D Flip Card on Hover - Programming School -->
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>3D Flip Card on Hover | Programming School</title>
    <link rel="stylesheet" href="./style.css">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
  </head>
  <body>
    <div class="wrapper">
      <div class="card front-face">
        <img src="./images/Logo.png">
      </div>
      <div class="card back-face">
        <img src="./images/Logo.png">
        <div class="info">
          <div class="title">Programing School</div>
          <p> Designer <br>Full Stack Web Developer <br> Content Creator</p>
        </div>
        <ul>
          <a href="#"><i class="fab fa-facebook"></i></a>
          <a href="#"><i class="fab fa-twitter"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
          <a href="#"><i class="fab fa-youtube"></i></a>
        </ul>
      </div>
    </div>

  </body>
</html>
