*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
}
:root{
    --background-color:#231f3a;
    --text-color:#fff;
    --outer-border-color:rgba(0,0 ,0,0.5);
    /* #162052 */
}
/*body properties*/
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color:var(--background-color) ;
}
/*box */
.box{
    position: relative;
    width:40rem;
    height: 40rem;
    background: var(--outer-border-color);
    border-radius: 50%;
    overflow: hidden;

}
/*pseudo element that is causing the rotating effect*/
.box::before{
    content: " ";
    position: absolute;
    inset: -1rem 14rem;
    background-image:linear-gradient(315deg, #00ccff,#d400d4);/*border moving thing color*/
    transition-property: inset;
    transition-duration:0.5s ;
    animation-name: animate;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    
}
/*hover effect of the box that causes the pseudo element to grow*/
.box:hover::before{
    inset: -2rem 0rem;
}
@keyframes animate {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
/*pseudo element that is covering the other pseudo element*/
.box::after{
    content: " ";
    position: absolute;
    inset:0.6rem;
    background-color: var(--background-color);
    border-radius: 50%;
    z-index: 1;
    
}
/*it is the container of the content and image*/
.content{
    position: absolute;
    inset: 3rem;
    border: 0.6rem solid #070a1c;
    z-index: 3;
    border-radius: 50%;    
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 3rem;
}
/*image styling*/
.content img{
   /* width:36rem;
   height: 36rem; */
   position: absolute;
   width: 100%;
   height: 100%;
   object-fit: cover;
   transition-duration: 0.5s;
   pointer-events: none;
   z-index: 5;

}
/*hover effect of the box */
/*it makes the image dissappear*/
.box:hover  .content img{
    opacity: 0;
}
/* heading*/
.content h1{
    color: var(--text-color);
    font-size: 3rem;
    text-align: center;
    font-weight: 600;
    
}
/*content button*/
.content button{
    padding: 1rem 3rem;
    background: transparent;
    border:0.2rem var(--text-color) solid;
    color: var(--text-color);
    font-size: 2rem;
    border-radius:1rem;
    transition-property:transform ;
    transition-duration: 0.5s;
}
/*hover effect of the button*/
.content button:hover{
    transform: scale(1.2);
}
/*for device that has width less than the 450px*/
@media(max-width:450px){
    html{
        font-size: 50%;
    }
}