<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="css/style.css" />
		<title>Frontend Mentor | NFT preview card component</title>
	</head>
	<body>
		<main class="container">
			<div class="card">
				<div class="card-content">
					<div class="card-img">
						<div class="main-img">
							<a href="#">
								<img
									src="images/image-equilibrium.jpg"
									alt="glowing-cube"
								/>
							</a>
						</div>
						<div class="hover-card">
							<a href="#">
								<img
									class="view"
									src="images/icon-view.svg"
									alt="view"
								/>
							</a>
						</div>
					</div>
					<div class="card-text">
						<a href="#"><h1>Equillibrium #3429</h1></a>
						<p>Our Equillibrium collection promotes balance and calm.</p>
					</div>
					<div class="card-row">
						<div class="eth">
							<img src="images/icon-ethereum.svg" alt="eth" />
							<span>0.041 ETH</span>
						</div>
						<div class="time">
							<img src="images/icon-clock.svg" alt="clock" />
							<span>3 Days left</span>
						</div>
					</div>
					<div class="line"></div>
					<div class="endgame">
						<div class="endgame-img">
							<img src="images/image-avatar.png" alt="person" />
						</div>
						<div class="endgame-text">
							<p>Creation of <a href="#">Jules Wyvern</a></p>
						</div>
					</div>
				</div>
			</div>
		</main>
	</body>
</html>
