@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');

* {
  box-sizing: border-box;
}

:root {
  --primary-bgcolor: #b8c6db;
  --gradient-color1: #b8c6db;
  --gradient-color2: #f5f7fa;
  --quiz-container-bgcolor: #fff;
  --button-bgcolor: #8e44ad;
  --button-font-color: #fff;
  --button-hover-bgcolor: #732d91;
  --button-focus-bgcolor: #5e3370;
}

body {
  background-color: var(--primary-bgcolor);
  background-image: linear-gradient(315deg, var(--gradient-color1) 0%, var(--gradient-color2) 100%);
  font-family: 'Poppins', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.quiz-container {
  background-color: var(--quiz-container-bgcolor);
  border-radius: 10px;
  box-shadow: 0 0 10px 2px rgba(100, 100, 100, 0.1);
  width: 600px;
  overflow: hidden;
}

.quiz-header {
  padding: 4rem;
}

h2 {
  padding: 1rem;
  text-align: center;
  margin: 0;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  font-size: 1.2rem;
  margin: 1rem 0;
}

ul li label {
  cursor: pointer;
}

button {
  background-color: var(--button-bgcolor);
  color: var(--button-font-color);
  border: none;
  display: block;
  width: 100%;
  cursor: pointer;
  font-size: 1.1rem;
  font-family: inherit;
  padding: 1.3rem;
}

button:hover {
  background-color: var(--button-hover-bgcolor);
}

button:focus {
  outline: none;
  background-color: var(--button-focus-bgcolor);
}
